<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073838987408-fvlhbn19tie7m0s7jkbec6tpp1mm992f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073838987408-fvlhbn19tie7m0s7jkbec6tpp1mm992f</string>
	<key>API_KEY</key>
	<string>AIzaSyAGl3PFx66x5bSfhB276_E98T1xF7WKXmg</string>
	<key>GCM_SENDER_ID</key>
	<string>1073838987408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.survoProtv1</string>
	<key>PROJECT_ID</key>
	<string>survoprot</string>
	<key>STORAGE_BUCKET</key>
	<string>survoprot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073838987408:ios:ea85f088c059e7b9c76015</string>
</dict>
</plist>